
.change-seminar-table {
    display: flex;
    flex-direction: column;
}
.change-seminar-table > div {
    display: flex;
    flex-direction: row;
}

.change-seminar-table  input {
    width: 47rem;
    padding: 1.7rem;
    margin: 1rem;
    font-size: 2rem;
}

.change-seminar-table button {
    margin: 2rem 0;
    padding: 2rem 0 ;
    background: white;
    border: 1px black solid;
    color: black;
    font-size: 1.7rem;
    
}
.change-seminar-table button:hover {
    background: #3f3b3b;
    color: white;
}
.change-seminar-table button:active {
    background: black;
    color: white;
}